<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>MySpentImpl</servlet-name>
    <servlet-class>org.andird.myspent.server.MySpentImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MySpentCronNotifyDaily</servlet-name>
    <servlet-class>org.andird.myspent.cron.MySpentCronNotifyDaily</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MySpentImpl</servlet-name>
    <url-pattern>/myspent/spending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MySpentCronNotifyDaily</servlet-name>
    <url-pattern>/myspent/cron/notifyDaily</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>500</error-code>
    <location>/index.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp</location>
  </error-page>

  <error-page>
    <error-code>405</error-code>
    <location>/index.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/index.jsp</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>cron</web-resource-name>
      <url-pattern>/myspent/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    	<description>admin</description>
    	<role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    	<description>all</description>
    	<role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
</web-app>
